# 2주차 예제

* [기초] 성훈, 상훈, 홍용, 병윤은 비트코인을 각각 100코인, 120코인, 150코인, 130코인을 가지고 있습니다. 아래 인터페이스를 참고하여 이들의 코인 보유량의 총합, 평균, 분산을 구하는 함수를 만들고 출력하세요. 이때 한 함수에서 3개 값을 모두 반환하도록 짜세요.

```python
def statistic_info(arr):
    """
    Args: 
        param (list): 코인 보유 리스트

    Returns:
        tuple: (총합, 평균, 분산)
        
    Examples:
        >>> arr = [100, 120, 150, 130]
        >>> total, mean, squares = statistic_info(arr)
        >>> print('총합: ', total)
        총합:  500
        >>> print('평균: ', mean)
        평균:  125.0
        >>> print('분산: ', squares)
        분산:  325.0
    """
    pass
```

In [2]:
def statistic_info(arr):
    total = 0
    for each in arr:
        total += each
    # 평균 구하기
    mean = total/len(arr)
    # 분산 구하기
    squares = 0
    for each in arr:
        squares += (each - mean)**2
    squares = squares/len(arr)
    return total, mean, squares

arr = [100, 120, 150, 130]
total, mean, squares = statistic_info(arr)
print('총합: ', total)
print('평균: ', mean)
print('분산: ', squares)

총합:  500
평균:  125.0
분산:  325.0

* [기초] 1부터 16까지 정수값을 요소로 가지는 리스트를 구현하고 출력하세요

```
print(리스트)
>>> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

```

In [3]:
arr = []
for i in range(1, 16):
    arr.append(i)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

* [기초] 위의 리스트에서 3의 배수인 값들을 제거하세오

```
print(리스트)
>>> [1, 2, 4, 5, 7, 8, 10, 11, 13, 14]
```

In [4]:
for v in arr:
    if v%3 ==0:
        arr.remove(v)
print(arr)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14]

* [기초] 위의 리스트를 무작위로 섞으세요

    <span style="color:gray">[Tip] random 패키지를 활용해보세요</span>
```
print(리스트)
>>> [8, 10, 14, 11, 5, 13, 4, 2, 7, 1]
```

In [5]:
import random

random.shuffle(arr)
print(arr)

[8, 10, 14, 11, 5, 13, 4, 2, 7, 1]

* [기초] 위의 리스트를 역순으로 정렬하세요

```
print(리스트)
>>> [14, 13, 11, 10, 8, 7, 5, 4, 2, 1]
```

In [6]:
arr.sort(reverse=True)
print(arr)

[14, 13, 11, 10, 8, 7, 5, 4, 2, 1]

* [기초] 5의 배수를 요소로 가지는 리스트를 작성하세요. 요소 값의 범위는 5부터 50까지로 하세요.

```
print(리스트)
>>> [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
```

In [7]:
리스트 = []
for i in range(1, 11):
    리스트.append(5*i)
리스트

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

* [기초] 재훈이는 홈커밍 준비를 위해 회원들에게 참석여부를 묻고 참가하는 사람의 리스트를 만들고 참가비 총액을 계산하려 합니다. 참가비는 재학생은 1만5천원, 졸업생은 3만원 입니다. 또한 참여회원을 보기 좋게 사전순으로 리스트를 정렬해야합니다. 재훈이를 도와주세요.

```
졸업생참여자 : 유인덕, 박태양, 이규호, 김진수, 정우현, 이충산, 이상림, 이선우, 홍지웅
재학생참여자: 김민규, 신형섭, 변재훈, 문성진, 염민호, 황혜선, 안수정, 오형근, 안중현, 조병윤

>>> print("총액: ", format(total, ","), "원")
총액:  370,000 원
>>> print("졸업생: ", graduate)
졸업생:  ['김진수', '박태양', '유인덕', '이규호', '이상림', '이선우', '이충산', '정우현', '홍지웅']
>>> print("재학생: ", enroll)
재학생:  ['김민규', '문성진', '신형섭', '안수정', '안중현', '염민호', '오형근', '조병윤', '허상훈', '황혜선']
```

In [23]:
graduate = ['유인덕', '박태양', '이규호', '김진수', '정우현', '이충산', '이상림', '이선우', '홍지웅']
enroll = ['김민규', '신형섭', '허상훈', '문성진', '염민호', '황혜선', '안수정', '오형근', '안중현', '조병윤']

total = 30000*len(graduate)
total += 10000*len(enroll)

graduate.sort()
enroll.sort()

print("총액: ", format(total, ","), "원")
print("졸업생: ", graduate)
print("재학생: ", enroll)

총액:  370,000 원
졸업생:  ['김진수', '박태양', '유인덕', '이규호', '이상림', '이선우', '이충산', '정우현', '홍지웅']
재학생:  ['김민규', '문성진', '신형섭', '안수정', '안중현', '염민호', '오형근', '조병윤', '허상훈', '황혜선']

* [기초] 1부터 50까지 소수를 구하세요

```
>>> print(prime)
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
```

In [8]:
prime = [2]
for i in range(2, 50):
    isPrime = True
    for p in prime:
        if i%p == 0:
            isPrime = False
            break
    if isPrime:
        prime.append(i)
prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

* [심화] 피보나치 수열을 구하는 함수를 구현하고 20번째 값을 출력하세요

    <span style="color:gray">[ Tip ] 재귀함수를 이용하면 간단하게 구할수 있어요</span>
```
>>> print(fibo(20))
6765
```

In [34]:
def fibo(n):
    if n < 2:
        return n
    return fibo(n-1) + fibo(n-2)

print(fibo(20))

6765

* [기초] 주민등록번호 검증기를 만들어봅시다.

    * 주민등록번호의 의미

| 생년  | 생년  | 월  | 월  | 일  | 일  |   | 성별  | 출생지역  | 출생지역  | 출생지역  | 출생지역  | 순번  |오류검증번호|
|---|---|---|---|---|---|---|---|---|---|---|---|---|
| 0 | 1 | 2 | 3 | 4 | 5 | - | 6 | 7 | 8 | 9 | 10 | 11 | 12 |
| 2 | 3 | 4 | 5 | 6 | 7 |   | 8 | 9 | 2 | 3 | 4  | 5  | 0  |

   1. 오류 검증번호가 맞아야 합니다. 
        ```
        오류검증번호 = 11 - { ( 첫줄과 아랫줄의 곱의 합 ) / 11 }
        ```
        
   2. 지역번호 네자리중 첫자리는 아래와 같습니다.
       ```
        서울 : 0
        부산 : 1
        경기인천: 2
        강원/충북: 3
        충남/대전: 4
        전북/전주: 5
        전남/광주: 6
        경북/대구: 7
        경남/울산: 8
        제주도: 9
        ```
   3. 뒷자리 첫번째는 성별을 표시합니다. 성별은 남성과 여성만 있다고 가정하기로 해요
        * 1900년대(1900~1999) 출생한 남성은 1, 1900년대(1900~1999) 출생한 여성은 2
        * 2000년대(2000~2099) 출생한 남성은 3, 2000년대(2000~2099) 출생한 여성은 4
        * 1800년대(1800~1899) 출생한 남성은 9, 1800년대(1800~1899) 출생한 여성은 0

* 950203-1238616 이 올바른 주민등록번호인지 확인해 보세요
```
>>> number = '9502031238618'
>>> print(checkNumber(number))
```

In [9]:
def checkNumber(number):
    if number[6] not in ['1', '2', '3', '4', '9', '0']:
        return False
    if int(number[7]) > 9:
        return False
    fvalue = '234567892345'
    s = 0
    i = 0
    for v in number[:-1]:
        s += int(v)*int(fvalue[i])
        i += 1
    result = 11 - s%11
    if result >= 10:
        result = result%10
    return result==int(number[-1])

number = '9502031238618'
checkNumber(number)

False

* [기초] type 함수를 이용하여 주어진 리스트 내부 변수의 타입을 출력한 함수를 만드세요. 리스트는 아래 입력값을 값으로 가지도록 만드세요.

```
입력값: '지갑', 50, ('아메리카노','카페라떼','밀크티'), 32.2

출력값:
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'float'>
```

In [2]:
def checkType(value):
    print(type(value))
    
valueList = ['지갑', 50, ('아메리카노','카페라떼','밀크티'), 32.2]
for value in valueList:
    checkType(value)

<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'float'>